{{> fragments/header_inside}}
<div class="container">
    <h1 class="text-center">Service blueprint</h1>
    <h2 class="text-center mt-4">{{proyecto.nombre}}</h2>
    <div class="row text-center mt-4">
        <div class="col-lg-2"><h3>Blueprint</h3></div>
        <div class="col-lg-2"><h4>Aware</h4></div>
        <div class="col-lg-2"><h4>Join</h4></div>
        <div class="col-lg-2"><h4>Initial use</h4></div>
        <div class="col-lg-2"><h4>Use again</h4></div>
        <div class="col-lg-2"><h4>Finish using</h4></div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2"><h5>Things, media and devices</h5></div>
        <div class="col-lg-2"><textarea id="11" class="textarea-min">{{#a11}}{{.}}{{/a11}}{{^a11}}{{/a11}}</textarea></div>
        <div class="col-lg-2"><textarea id="12" class="textarea-min">{{#a12}}{{.}}{{/a12}}{{^a12}}{{/a12}}</textarea></div>
        <div class="col-lg-2"><textarea id="13" class="textarea-min">{{#a13}}{{.}}{{/a13}}{{^a13}}{{/a13}}</textarea></div>
        <div class="col-lg-2"><textarea id="14" class="textarea-min">{{#a14}}{{.}}{{/a14}}{{^a14}}{{/a14}}</textarea></div>
        <div class="col-lg-2"><textarea id="15" class="textarea-min">{{#a15}}{{.}}{{/a15}}{{^a15}}{{/a15}}</textarea></div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2"><h5>What the user does, feels, knows, thinks</h5></div>
        <div class="col-lg-2"><textarea id="21" class="textarea-min">{{#a21}}{{.}}{{/a21}}{{^a21}}{{/a21}}</textarea></div>
        <div class="col-lg-2"><textarea id="22" class="textarea-min">{{#a22}}{{.}}{{/a22}}{{^a22}}{{/a22}}</textarea></div>
        <div class="col-lg-2"><textarea id="23" class="textarea-min">{{#a23}}{{.}}{{/a23}}{{^a23}}{{/a23}}</textarea></div>
        <div class="col-lg-2"><textarea id="24" class="textarea-min">{{#a24}}{{.}}{{/a24}}{{^a24}}{{/a24}}</textarea></div>
        <div class="col-lg-2"><textarea id="25" class="textarea-min">{{#a25}}{{.}}{{/a25}}{{^a25}}{{/a25}}</textarea></div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2"><h5>What other people do, feel, know, think</h5></div>
        <div class="col-lg-2"><textarea id="31" class="textarea-min">{{#a31}}{{.}}{{/a31}}{{^a31}}{{/a31}}</textarea></div>
        <div class="col-lg-2"><textarea id="32" class="textarea-min">{{#a32}}{{.}}{{/a32}}{{^a32}}{{/a32}}</textarea></div>
        <div class="col-lg-2"><textarea id="33" class="textarea-min">{{#a33}}{{.}}{{/a33}}{{^a33}}{{/a33}}</textarea></div>
        <div class="col-lg-2"><textarea id="34" class="textarea-min">{{#a34}}{{.}}{{/a34}}{{^a34}}{{/a34}}</textarea></div>
        <div class="col-lg-2"><textarea id="35" class="textarea-min">{{#a35}}{{.}}{{/a35}}{{^a35}}{{/a35}}</textarea></div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2"><h5>What service personnel do, feel, know, think</h5></div>
        <div class="col-lg-2"><textarea id="41" class="textarea-min">{{#a41}}{{.}}{{/a41}}{{^a41}}{{/a41}}</textarea></div>
        <div class="col-lg-2"><textarea id="42" class="textarea-min">{{#a42}}{{.}}{{/a42}}{{^a42}}{{/a42}}</textarea></div>
        <div class="col-lg-2"><textarea id="43" class="textarea-min">{{#a43}}{{.}}{{/a43}}{{^a43}}{{/a43}}</textarea></div>
        <div class="col-lg-2"><textarea id="44" class="textarea-min">{{#a44}}{{.}}{{/a44}}{{^a44}}{{/a44}}</textarea></div>
        <div class="col-lg-2"><textarea id="45" class="textarea-min">{{#a45}}{{.}}{{/a45}}{{^a45}}{{/a45}}</textarea></div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2"><h5>Where things happen</h5></div>
        <div class="col-lg-2"><textarea id="51" class="textarea-min">{{#a51}}{{.}}{{/a51}}{{^a51}}{{/a51}}</textarea></div>
        <div class="col-lg-2"><textarea id="52" class="textarea-min">{{#a52}}{{.}}{{/a52}}{{^a52}}{{/a52}}</textarea></div>
        <div class="col-lg-2"><textarea id="53" class="textarea-min">{{#a53}}{{.}}{{/a53}}{{^a53}}{{/a53}}</textarea></div>
        <div class="col-lg-2"><textarea id="54" class="textarea-min">{{#a54}}{{.}}{{/a54}}{{^a54}}{{/a54}}</textarea></div>
        <div class="col-lg-2"><textarea id="55" class="textarea-min">{{#a55}}{{.}}{{/a55}}{{^a55}}{{/a55}}</textarea></div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2"><h5>What supports the service</h5></div>
        <div class="col-lg-2"><textarea id="61" class="textarea-min">{{#a61}}{{.}}{{/a61}}{{^a61}}{{/a61}}</textarea></div>
        <div class="col-lg-2"><textarea id="62" class="textarea-min">{{#a62}}{{.}}{{/a62}}{{^a62}}{{/a62}}</textarea></div>
        <div class="col-lg-2"><textarea id="63" class="textarea-min">{{#a63}}{{.}}{{/a63}}{{^a63}}{{/a63}}</textarea></div>
        <div class="col-lg-2"><textarea id="64" class="textarea-min">{{#a64}}{{.}}{{/a64}}{{^a64}}{{/a64}}</textarea></div>
        <div class="col-lg-2"><textarea id="65" class="textarea-min">{{#a65}}{{.}}{{/a65}}{{^a65}}{{/a65}}</textarea></div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="mt-4">
            <button type="button" class="btn btn-red" onclick="guardarServiceBlueprint({{idServiceBlueprint}})">Save</button>
        </div>
    </div>
</div>

<script src="/js/blueprint/blueprint.js"></script>
{{> fragments/footer}}