<div class="form">
    <div class="container">
        <h2>Sign up</h2>
        <form id="contactForm" action="/registrarse" method="post">
            <div class="form-floating mb-3">
                <input class="form-control" id="usuario" type="text" placeholder="Usuario" name="username" required>
                <label for="usuario">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="email" type="text" placeholder="Email" name="email" required>
                <label for="email">Email</label>
            </div>
            <datalist id="listaempresas">
                <option value="Ninguna">
              </datalist>
            <div class="form-floating mb-3">
                <input class="form-control contrasena" id="contrasena" type="password" placeholder="Contraseña" name="pass" required  onkeyup="comprobarPass()">
                <label for="contrasena">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control contrasena" id="contrasena2" type="password" placeholder="Contraseña" required  onkeyup="comprobarPass()">
                <label for="contrasena2">Repeat password</label>
            </div>
            <p id="mensaje_contrasena"></p>
            <div class="d-grid">
                <button id="registrarse" class="btn btn-red btn-lg mt-1" type="submit" disabled>Sign up</button>
            </div>
        </form>
    </div>
</div>
