{{> fragments/header}}
<div class="bg-slider d-block w-100">
  <h1 class="text-center texto-slider">Welcome to SCRUM WEB</h1>
</div>


    <div class="container my-5">
      <h2 class="text-center">Collaboration and efficiency with SCRUM WEB</h2>
      <div class="separator"></div>
      <div class="row">
        <div class="col-lg-6 px-4">
          <p>
            Welcome to our leading agile management platform! Here at SCRUM WEB,
             we are dedicated to providing you with the perfect solution to take your projects to the next level.
             With state-of-the-art Scrum tools and an intuitive interface, we are committed to simplifying
             collaboration and improve your team's efficiency.
          </p>
          <p>
            The Scrum framework has revolutionized the way teams work together,
             and we bring that revolution to the digital world. Our online Scrum platform allows you to
             organize tasks, manage sprints, and maintain fluid communication, all from one place.
             Whether you work on a small project or a large-scale company, our platform is designed
             to adapt to your needs.
          </p>
          <p>
            With SCRUM WEB, you will not only get the essential features of Scrum,
             but you will also enjoy additional tools to track progress,
             reporting and data analysis. Maximize transparency, accountability and speed
             delivery with our comprehensive project management solution.
          </p>
        </div>
        <div class="col-lg-6">
          <img class="center-block w-100" src="/img/meeting500x300.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="container my-5">
      <h2 class="text-center">What can we offer you?</h2>
      <div class="separator"></div>
      <div class="row contenedor-iconos text-center">
        <div class="col-lg-3">
          <i class="bi bi-clipboard-data"></i>
          <h4>Data analysis</h4>
        </div>
        <div class="col-lg-3">
          <i class="bi bi-people"></i>
          <h4>Efficient collaboration</h4>
        </div>
        <div class="col-lg-3">
          <i class="bi bi-clock-history"></i>
          <h4>Optimize your time</h4>
        </div>
        <div class="col-lg-3">
          <i class="bi bi-rocket-takeoff"></i>
          <h4>Boost your Projects</h4>
        </div>
      </div>
    </div>
      <div class="full-height">
        <h2 class="text-center texto-slider texto-hero">Join thousands of successful teams who have already experienced the
          <br>positive change that our platform brings SCRUM WEB.</h2>
      </div>
      <div class="container px-5 my-5">
        <div class="row">
          <div class="col-lg-4">
          {{> fragments/registrarse}}
        </div>
        <div class="col-lg-8">
          <h2>Our location</h2>
          <iframe title="mapa"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48609.90956697784!2d-3.625549461184308!3d40.40620678173952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422565721d7127%3A0xa5f359b54179c57b!2sUniversidad%20Rey%20Juan%20Carlos%20(URJC)%20Campus%20de%20Madrid!5e0!3m2!1ses!2ses!4v1701958722743!5m2!1ses!2ses"
            style="border:0; width: 100%; height: 400px;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
        </div>
        
      </div>

{{> fragments/footer}}
